VITE_API_URL=http://127.0.0.1:5000
VITE_SOCKET_URL=http://127.0.0.1:5000
VITE_APP_MODE=production
VITE_APP_NAME=TONGAN'AI

VITE_MAC_AGENT_URL=http://127.0.0.1:17532/mac-address
VITE_MAC_AGENT_DOWNLOAD_URL=http://192.168.88.164/downloads/mac-agent