DB_USER=system
DB_PASS=CACAdmin$
DB_HOST=localhost
DB_PORT=1521
DB_SERVICE=XE
SECRET_KEY=aaad32e781e5f14874048d229d2579a87626044f76e68862e688b89341c384da
ROBOFLOW_API_KEY=EM40hNYPSnLkhfjiFqtq
# Redis Configuration
REDIS_URL=redis://localhost:6379/0
CACHE_ENABLED=1

USE_HTTPS=false
SECRET_KEY=devsecret123.