flask
flask-cors
numpy==1.26.4
pandas
insightface
onnxruntime
opencv-python
Pillow
tqdm
python3-distutils
matplotlib
gdown
argon2-cffi
oracledb
flask_sqlalchemy
flask_migrate
python-dateutil
flask_login
python_dotenv
reportlab
flask_apscheduler
werkzeug
gunicorn
flask_session
pyyaml
tensorboardX==2.0
torchvision
torch
easydict==1.9
flask-socketio 
eventlet
openpyxl
qrcode[pil]
pytesseract
inference-sdk
redis 
flask-caching